footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include bigscreens {
        flex-direction: row;
        justify-content: space-between;
    }
    .first-sign-container {
        width: 227px;
        padding: 10% 10% 5% 10%;
        @include bigscreens {
            padding: 3% 5%;
            width: 70%;
        }
        p {
            color: black;
            font-size: 1.166666667rem;
            letter-spacing: 0;
            line-height: 1.833333rem;
        }
    }
    .second-sign-container {
        width: 227px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5% 10%;
        @include bigscreens {
            padding: 3% 5%;
            width: 30%;
        }
        a {
            color: black;
        }
    }
}