$font-color: black;
$font_button_color: #00f3bb;
$main_background_color: white;
$responsive_menu: rgba(0,0,236,1);
$font_color_responsive: white;
$color-dot: #0000ec;
$gradient_1: #0000A3;
$gradient_2: #0000FF;
$button_gradient1:#00F0B8;
$button_gradient2: #0000FE;


$font_mono:'IBM Plex Mono', monospace;
$font_sans:'IBM Plex Sans', sans-serif;

$big_screen_min: 770px;
$medium_screen_min: 420px;
$default_font_size: 12px;
$title_text_desktop: 5.33rem;
$title_text_mobile: 3rem;
$line_height_mobile: 3.5rem;
$line_height_desktop: 7rem;
$font-button-size: 1.33rem;